html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 60px;
    background-color:  #FAFAFA;
}

@media(min-width: 991.98px){
  .navSize{
    height: 70px;
  }
}


.ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    top: 10px; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light {
        background: #404044 !important;
        top: 0;
        position: relative; } }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
      font-size: 16px;
      padding-top: 35px;
      padding-bottom: 35px;
      padding-left: 20px;
      padding-right: 20px;
      color: #f0f0f0;
      opacity: 1 !important; }
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
        color: #fff; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 0px;
          padding-right: 0px; } }
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
      position: relative;
      margin-left: 20px;
      padding-left: 20px; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
          padding-left: 0;
          margin-left: 0; } }
      .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
        position: absolute;
        content: "";
        top: 10px;
        bottom: 10px;
        left: 0;
        width: 2px;
        background: rgba(255, 255, 255, 0.05); }
        @media (max-width: 991.98px) {
          .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
            display: none; } }
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
      padding-left: 0;
      color: #fff; }
      .ftco-navbar-light .navbar-nav > .nav-item.cta > a span {
        border: 2px solid #fff;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 4px; }
    .ftco-navbar-light .navbar-nav > .nav-item.cta.cta-colored span {
      border-color: #ffb400; }
    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
      color: rgba(255, 255, 255, 0.5); }
    .ftco-navbar-light .navbar-toggler {
      color: rgba(255, 255, 255, 0.5) !important;
      cursor: pointer;
    }
    .ftco-navbar-light.scrolled {
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      margin-top: -130px;
      background: #404044 !important;
      -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
      .ftco-navbar-light.scrolled .nav-item.active > a {
        color: #ffb400 !important; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light.scrolled .navbar-nav {
          background: none;
          border-radius: 0px;
          padding-left: 0rem !important;
          padding-right: 0rem !important; } }
      @media (max-width: 767.98px) {
        .ftco-navbar-light.scrolled .navbar-nav {
          background: none;
          padding-left: 0 !important;
          padding-right: 0 !important; } }
      .ftco-navbar-light.scrolled .navbar-toggler {
        border: none;
        color: rgba(255, 255, 255, 0.5) !important;
        border-color: rgba(255, 255, 255, 0.5) !important;
        cursor: pointer;
        padding-right: 0;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: .1em; }
      .ftco-navbar-light.scrolled .nav-link {
        padding-top: 0.9rem !important;
        padding-bottom: 0.9rem !important;
        color: #fff !important; }
        .ftco-navbar-light.scrolled .nav-link.active {
          color: #ffb400 !important; }
      .ftco-navbar-light.scrolled.awake {
        margin-top: 0px;
        -webkit-transition: .3s all ease-out;
        -o-transition: .3s all ease-out;
        transition: .3s all ease-out; }
      .ftco-navbar-light.scrolled.sleep {
        -webkit-transition: .3s all ease-out;
        -o-transition: .3s all ease-out;
        transition: .3s all ease-out; }
      .ftco-navbar-light.scrolled .navbar-brand {
        color: #fff; }
  
.navbar-brand {
  font-weight: 600;
  border: 2px solid #fff;
  line-height: 1;
  padding: 5px 10px; 
}

.dropdown-menu{
  background: #404044 !important;
}

.dropdown-item{
  background: #404044 !important;
  color: rgba(255,255,255,.5);
}

.dropdown-item:hover{
  color: #f0f0f0;
}



.footerStyle{
    position: absolute;
    width: 100%;
    padding: 0 20px;
    font-size: 14px;
    background: #27272b;
    color: #fff;
    margin-top: 20px;
    /* bottom: 0; */
}



.height-70{
    height: 70!important;
}

.carousel-inner > .carousel-item > img {
    min-width: 100%;
    height: calc(100vh - 117px);
  }


/* Guest Reviews */
.testimony-section {
    position: relative; }
    .testimony-section{
      margin: 0; }
    .testimony-section {
      padding-top: 3.5em;
      padding-bottom: 1em;
      position: relative; }
      .testimony-section {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100px;
        height: 100vh;
        -webkit-box-shadow: inset 105px 0px 70px -60px white;
        -moz-box-shadow: inset 105px 0px 70px -60px white;
        box-shadow: inset 105px 0px 70px -60px white;
        z-index: 1; }
      .testimony-section {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        width: 100px;
        height: 100vh;
        -webkit-box-shadow: inset -105px 0px 70px -60px white;
        -moz-box-shadow: inset -105px 0px 70px -60px white;
        box-shadow: inset -105px 0px 70px -60px white; }
      @media (max-width: 767.98px) {
        .testimony-section {
          display: none; } }
  
.testimony-wrap {
  background: #fff;
  display: block;
  position: relative;
  border: 1px solid #f4f4f5;
}
.testimony-wrap .user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -80px; 
}
.testimony-wrap .name {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
  color: #404044;
}
.testimony-wrap .position {
  font-size: 13px;
  color: #c0c0c3;
}
.testimony-wrap .star-rate {
  font-size: 12px;
}
.testimony-wrap .star-rate span {
  margin-left: 1px;
  margin-right: 1px;
  color: #ffb400; 
}


.overlay {
  background: #cfcfcf;
  opacity: .4; 
}


    
    /* .dish-menu .menus {
      width: 100%;
      background: #fff;
      padding: 15px;
      margin-bottom: 30px;
      -webkit-box-shadow: 0px 1px 18px -12px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 1px 18px -12px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 1px 18px -12px rgba(0, 0, 0, 0.75);
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; } */
.textM {
  width: calc(100%);
  background-color: #efefef;
  padding: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 1px 18px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 18px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 18px -12px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.textM .one-half {
  width: calc(100% - 80px);
}
.textM .one-half h4 {
  font-size: 18px; 
}
.textM .one-half p {
  margin-bottom: 0;
}
.textM .one-forth {
  width: 80px;
  text-align: right;
}
.textM .one-forth .price {
  font-size: 27px;
  color: #404044;
  line-height: 1.4;
}

.menuItems{
  padding: 15px;
}

.menuChoose .textM:hover{
  background-color: #ffb400;
}

.pre-scrollable {
  max-height: 100%;
  overflow-y: scroll;
}

.card-img-top {
  height: 180px;
}

.modal-dialog-1{
  min-width: 900px!important;
}

Button{
  margin: 2px;
}

@media(min-width: 800px){
.driver-tabs{
  width:80%;
}
}

.bar-step {
  position:absolute;
  margin-top: 0px;
  z-index:1;
  font-size:12px;
}

.label-line {
  float: right;
  background: rgb(0, 0, 0);
  height:46px;
  width:3px;
  border-radius: 250px;
}

.label-txt {
  float: left;
  margin-top: -27px;
}

.progress-border {
  border-style: solid;
  border-width: 3px;
}